.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!example.tfvars
*.tfvars.json
.idea/
.vscode/
