.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
!bootstrap/example.tfvars
!identity/example.tfvars
!identity/env/*.tfvars
*.tfvars.json
.idea/
.vscode/
